/* Main content */

body {
  background-color: #f3f3f3;
  color: #0a3641;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

main,
body {
  text-align: center;
}

h1, h2, h3, .cta-button {
  text-transform: uppercase;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3.5em;
  color: #dd4b00;
}

h2 {
  color: #dd4b00;
  padding-top: 10px;
}

h3 {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}

div {
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0a3641;
}

#current {
  color: #f3f3f3af;
}

.cta-button {
  background-color: #0a3641;
  color: #f3f3f3;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: 2px solid #0a3641;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #f3f3f3;
  color: #dd4b00;
  border: 2px solid #dd4b00;
}

.slogan {
  max-width: 360px;
  margin: 20px;
}

/* Jacket cards */

.best-sellers {
  margin-top: 50px;
}

.popular-jackets {
  margin-bottom: 40px;
}

.jacket-card {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

.jacket-card-main-page {
  border-radius: 0px 50px;
  display: inline-block;
  max-height: 300px;
  color: #0a3641;
}

.jacket-card a {
  color: #0a3641;
  text-decoration: none;
}

/* Jackets page */

.all-jackets {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

.jacket-page-card {
  text-decoration: none;
  padding: 15px 10px;
}

.jacket-page-card-img {
  border-radius: 0px 50px;
  display: inline-block;
  max-height: 250px;
  color: #0a3641;
}

.jacket-page-card a {
  color: #0a3641;
  text-decoration: none;
}

/* Specific jacket page */ 
.jacket-specific {
  display: grid;
  grid-template-columns: 320px 430px;
  gap: 0px;
  margin: 0 auto;
  max-width: 1000px;
}

.jacket-carousel {
  display: flex;
  align-items: center;
}

.carousel {
  height: 350px;
  position: absolute;
}

.btn-left {
  left: -52px;
} 

.btn-right {
  right: -250px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jacket-carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.jacket-carousel-slide > img {
  display: block;
  max-height: 300px;
  max-width: 200px;
  object-fit: cover;
  object-position: center;
}

.jacket-carousel-slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.btn-arrows {
  position: absolute;
  z-index: 2;
  top: 35%;
  border: none;
  background: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn-icons:hover {
  color:#f3f3f3af;
}

.second-jacket-card {
  transition-property: background-image;
  transition-duration: 10s;
  background: url(../Images/resize-on-beach.jpg);
}

.second-jacket-card:hover {
  background: url(../Images/resize-on-beach.jpg);
}

.btn-icons {
  background-color: #0a3641;
  border-radius: 50%;
  font-size: 22px;
  color:#f3f3f3;
  width: 30px;
  height: 26px; /* husk padding-top: 4px; på selve ikonene */ 
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.fa-chevron-right, .fa-chevron-left {
  padding-top: 4px;
}

.available-colors, .color-cards {
  display: inline-block;
}

.available-colors, .product-size {
  margin: 0px;
  padding: 0px;
}

.specific-product-info {
  max-width: 330px;
  text-align: left;
  padding-bottom: 70px;
  vertical-align: top;
}

.product-size-cards, .product-size {
  display: inline-block;
}

.product-size-cards {
  padding-bottom: 25px;
}

.product-size-card {
  background-color: #f3f3f3;
  border: 1px solid #0a3641;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
}

/* Checkout page */
.btn-purchase {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* Checkout success */ 

.check-icon, .order-success {
  display: inline-block;
  margin: 0 auto;
}

.check-icon {
  padding: 0px 20px 30px 0px;
}

.fa-check {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.order-success {
  margin: 0 auto;
  text-align: left;
  max-width: 310px;
}

.shop-more {
  padding: 40px 0px;
}


/* About page */

.about-bg {
  background-image: url(../images/bg-bubble-skiing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.page-padding {
  margin: 0 auto;
  margin-bottom: 500px;
  background-color: #f3f3f3cc;
  border-radius: 30px;
  max-width: fit-content;
  padding: 5px 10px 15px 10px;
}

.free-to-ask {
  padding-top: 10px;
}

/* Contact page */

.contact-bg {
  background-image: url(../images/bg-bubble-skiglasses.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

/* Header images */
.header-image {
  background-size: cover;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image-first {
  background-image: url(../Images/raindrops.jpg);
  min-height: 400px;
}

.header-image-jackets {
  background-image: url(../images/jacket-kanoo.jpg);
}

.header-image-specific-jacket {
  background-image: url(../images/jacket-in-snow.jpg);
}

.header-image-cart {
  background-image: url(../images/on-beach-cropped.jpg);
}

.header-image-checkout-success {
  background-image: url(../images/hiker-from-tent.jpg);
  background-position-y: -100px;
}



/* Product page */

.product-page-card,
.product-info {
  display: inline-block;
}

.product-info {
  max-width: 330px;
  text-align: left;
  padding-bottom: 70px;
  vertical-align: top;
}

.product-card-color {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1.5px solid #0a3641;
  margin: 3px auto;
  display: inline-block;
}

.jacket-page-card,
.product-card-color,
h3 {
  margin: 0 auto;
}

.product-card-price {
  color: #dd4b00;
  text-align: center;
  padding-bottom: 10px;
}

.add-to-cart {
  text-align: center;
}

/* Header */

header {
  background-color: #0a3641;
  background-size: cover;
  margin: auto;
  padding: 0px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #f3f3f3af;
  text-decoration: none;
}

.header {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  max-height: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.header-div {
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
}

.main-nav li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.main-nav {
  font-size: 1.1em;
  font-weight: bold;
}

.hamburger-menu {
  display: none;
}

#search {
  border-radius: 5px;
  border-width: 1px;
  border-color: #f3f3f3;
}

.header-search {
  padding-top: 17px;
  padding-right: 20px;
  font-size: 1em;
  background-color: #0a3641;
  color: white;
  padding: 10px;
}

.fa-magnifying-glass {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

.fa-magnifying-glass:hover {
  color: #f3f3f3af;
}

/* Footer */

footer {
  display: flex;
  background-color: #0a3641;
  color: #f3f3f3;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo {
  max-height: 3.5em;
  padding-top: 20px;
}

.footer-nav {
  text-align: left;
  padding-top: 0px;
}

.footer-nav a {
  display: inline;
  color: white;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #f3f3f3af;
}

.footer-nav ul {
  padding: 0px;
}

.footer-nav li {
  display: block;
}

.copyright {
  padding-left: 20px;
}

.footer-links {
  margin: 0 auto;
}

.footer-copyright {
  display: inline-block;
}

.footer-shopping,
.footer-info,
.footer-social {
  display: inline-block;
  vertical-align: top;
  padding-left: 70px;
  padding-right: 70px;
}


@media (max-width: 1070px) {
  /* Header elements */

  .header-image-first,
  .header-image-jackets,
  .header-image-specific-jacket,
  .header-image-cart,
  .header-image-checkout-success {
    display: none;
  }

  .header-search {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 20px;
  }

  .header-div {
    position: top;
    order: 2;
  }

  .main-nav {
    display: none;
  }

  .hamburger-menu {
    order: 1;
    display: flex;
    color: white;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .hamburger-choices ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .hamburger-choices a {
    display: block;
    padding: 10px;
  }

  .hamburger-choices {
    display: none;
    position: absolute;
    background-color: #0a3641;
    border-radius: 0px 0px 20px 0px;
    padding: 10px 10px;
    text-align: left;
  }

  #checkbox:checked ~ .hamburger-choices {
    display: block;
    margin: 22px -20px;
  }

  #checkbox {
    display: none;
  }

  .visually-hidden {
    position: absolute;
    opacity: 0;
  }

  /* Main page */

  .slogan {
    max-width: 300px;
    margin: 20px;
  }

  .popular-jackets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .jacket-card-main-page {
    min-width: 100%;
  }

  /* Jacket page */
  .all-jackets {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
  }

  .footer-shopping,
  .footer-social,
  .footer-info {
    padding: 10px;
    order: 1;
  }

  .copyright {
    order: 2;
    margin-right: 20px;
  }

  .footer-nav {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer-shopping,
  .footer-social,
  .footer-info {
    display: block;
  }
}
