/* Main content */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 

body {
  background-color: #f3f3f3;
  color: #0a3641;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  text-align: center;
}

main, .search-section {
  padding-top: 50px;
}

h1, h2, h3, .cta-button, header > nav {
  text-transform: uppercase;
  font-family: 'Oswald', "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 3.5em;
  color: #dd4b00;
}

h2 {
  color: #dd4b00;
  padding-top: 10px;
}

h3, p {
  margin: 10px 0px;
}

div {
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0a3641;
}

#current, .fa-magnifying-glass:hover {
  color: #f3f3f3af;
}

.cta-button {
  background-color: #0a3641;
  color: #f3f3f3;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: 2px solid #0a3641;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #f3f3f3;
  color: #dd4b00;
  border-color: #dd4b00;
}

.purchase:disabled {
  background-color: #e5e4e4;
  color: #616161;
  border-color: #616161;
}

.btn-icons {
  background-color: #0a3641;
  border-radius: 50%;
  font-size: 22px;
  color:#f3f3f3;
  width: 35px;
  height: 28px;
  padding-top: 6px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

.btn-icons:hover {
  color:#f3f3f3af;
}

.hidden {
  display: none;
}

/* Header */

header {
  background-color: #0a3641;
  background-size: cover;
  margin: auto;
  padding: 0px;
  position: fixed;
  width: 100%;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #f3f3f3af;
  text-decoration: none;
}

.header {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  max-height: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.header-div {
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
}

.main-nav li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.main-nav {
  font-size: 1.1em;
  font-weight: bold;
}

.hamburger-menu {
  display: none;
}

#search, #search-page {
  border-color: #0a3641;
  border-radius: 10px;
  border-width: 1px;
  height: 20px;
}

#search, .header-search a {
  display: inline;
}

.header-search {
  padding-top: 17px;
  padding-right: 20px;
  font-size: 1em;
  background-color: #0a3641;
  color: white;
  padding: 10px;
}

.fa-magnifying-glass {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}



/* Header images */

.header-image {
  background-size: cover;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-image-first {
  background-image: url(../Images/raindrops.jpg);
  min-height: 400px;
}

.header-image-jackets {
  background-image: url(../images/jacket-kanoo.jpg);
}

.header-image-specific-jacket {
  background-image: url(../images/jacket-in-snow.jpg);
}

.header-image-cart {
  background-image: url(../images/on-beach-cropped.jpg);
  min-height: 440px;
  background-position-y: -50px;
}

.header-image-checkout-success {
  background-image: url(../images/hiker-from-tent.jpg);
  background-position-y: -100px;
}

/* Index page */ 

.slogan-layout {
  display: flex;
  margin: 0 auto;
  max-width: 370px;
}

.fa-xmark {
  color: #0a3641;
  font-size: 30px;
  margin-bottom: 50px;
}

/* Jacket cards */

.best-sellers {
  margin-top: 50px;
}

.popular-jackets {
  margin-bottom: 40px;
}

.jacket-card, .jacket-card a  {
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}

.jacket-card-main-page {
  border-radius: 0px 50px;
  display: inline-block;
  max-height: 300px;
  color: #0a3641;
}

/* Jackets page */

.product-page-card,
.product-info, .product-size-cards {
  display: inline-block;
}

.product-info {
  max-width: 330px;
  text-align: left;
  padding-bottom: 70px;
  vertical-align: top;
}

.product-card-color {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 1.5px solid #0a3641;
  margin: 3px auto;
  display: inline-block;
}

select {
  height: 25px;
  width: 45px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.jacket-page-card,
.product-card-color,
h3 {
  margin: 0 auto;
}

.product-card-price {
  color: #dd4b00;
  padding-bottom: 10px;
}

.all-jackets {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

.jacket-page-card {
  padding: 15px 10px;
}

.jacket-page-card-img {
  border-radius: 0px 50px;
  display: inline-block;
  max-height: 250px;
  color: #0a3641;
}

/* Specific jacket page */ 
.jacket-specific {
  display: grid;
  grid-template-columns: 320px 430px;
  grid-template-rows: 300px;
  gap: 0px;
}

.jacket-specific div {
  flex-direction: column;
}

.jacket-specific-layout {
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
}

.jacket-carousel {
  display: flex;
  align-items: center;
}

.carousel {
  margin: 0 auto;
  height: 350px;
  position: absolute;
}

.btn-left {
  left: -52px;
} 

.btn-right {
  right: -250px;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jacket-carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.jacket-carousel-slide > img {
  display: block;
  max-height: 300px;
  max-width: 200px;
  object-fit: cover;
  object-position: center;
}

.jacket-carousel-slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.btn-arrows {
  position: absolute;
  z-index: 2;
  top: 35%;
  border: none;
  background: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-chevron-right, 
.fa-chevron-left, 
.fa-phone, 
.fa-location-dot, 
.fa-message, 
.fa-check, 
.fa-cart-shopping, 
.fa-trash {
  padding-top: 7px;
}





.available-colors, 
.color-cards, 
.product-size-cards, 
.product-size, 
.cart-jacket-image, 
.cart-jacket-info, 
.color-cart, 
.size-cart, 
.product-size-card, 
.color-section,  
.product-card-color {
  display: inline-block;
}

.available-colors, .product-size {
  display: block;
  margin: 0px;
  padding: 0px;
}


.specific-product-info {
  max-width: 330px;
  text-align: left;
  padding: 0px 0px 70px 100px;
  vertical-align: top;
}

.product-size-card {
  display: inline-block;
}


/* Cart page */ 

.products-container {
  background-color: #e5e4e4;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 0px 30px;
}

#cart-headings {
  grid-template-rows: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.cart-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 120px;
  gap: 20px 10px;
}

.cart-layout div {
  margin-top: 10px;
}

.empty-cart {
  padding: 20px;
}

.remove-items-cart:hover {
  cursor: pointer;
}

.product-size-cards p {
  display: inline-block;
}

.cart-product-info, .size-card-cart, .cart-price, .color-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.cart-price h2 {
  padding: 0px 0px 10px 0px;
}

.color-section, .size-section {
  text-align: left;
  margin: 0px;
}

.size-cart {
  margin-right: 17px;
}

.cart-image {
  width: 90px;
}

.cart-checkout {
  margin-top: 50px;
}

/* Checkout page */

.checkout-layout {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 20px 1fr;
  gap: 20px 30px;
  max-width: 800px;
  margin: 0 auto;
  grid-template-areas: 
  'checkout-heading checkout-heading'
  'cart-product-info checkout-first';
}

.checkout-heading {grid-area: checkout-heading;
text-align: left;}
.checkout-summary .cart-product-info {grid-area: cart-product-info; background-color: #e5e4e4; border-radius: 0px 30px;}
.checkout-first {grid-area: checkout-first;}
.checkout-second {grid-area: checkout-second;}

.checkout-summary {
  background-color: #e5e4e4;
  border-radius: 0px 30px;
  min-width: 250px
}

.cart-jacket-image {
  margin-bottom: auto;
}

.checkout-summary .cart-jacket-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkout-layout label, input, textarea {
  display: block;
  text-align: left;
  width: 220px;
} 

.checkout-padding {
  margin: 20px auto;
}

#email-updates, #email-updates-label {
  display: inline;
  font-size: 12px;
}

#email-updates {
  margin-top: 5px;
  width: 25px;
}

form input, form textarea {
  border: 1px solid #0a3641;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.checkout-first > label, .checkout-second > label {
  margin: 0 auto;
}

/* Checkout success */ 

.check-icon, .order-success {
  display: inline-block;
  margin: 0 auto;
}

.check-icon {
  padding: 0px 20px 30px 0px;
}

.order-success {
  margin: 0 auto;
  text-align: left;
  max-width: 310px;
}

.shop-more {
  padding: 40px 0px;
}

/* About page */

.about-bg {
  background-image: url(../images/bg-bubble-skiing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.got-questions, .free-to-ask {
  margin-top: 50px;
}

.about-info {
  max-width: 250px;
}


.page-padding {
  margin: 0 auto;
  margin-bottom: 450px;
  background-color: #f3f3f3cc;
  border-radius: 0px 0px 0px 70px;
  max-width: fit-content;
  padding: 5px 10px 15px 10px;
}

.padding-contact {
  margin-bottom: 100px;
  padding-top: 50px;
}

/* Contact page */

.contact-bg {
  background-image: url(../images/bg-bubble-skiglasses.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}


.contact-phone p, .contact-email p, .contact-address p {
  margin-left: 20px;
  text-align: left;
}

.contact-phone, .contact-email, .contact-address  {
  display: flex;
  margin-right: 100px;
}

.contact-address-rainydays {
  flex-direction: column;
}

.contact-form {
  margin-top: 50px;
  margin-bottom: 20px;
}

.first-name-error, .last-name-error, .phone-error, .email-error, .message-error, .cardnumber-error, .city-error, .postcode-error, .address-error {
  display: none;
  font-size: 12px;
  font-weight: bold;
  color: rgb(208, 0, 0);
}

.send-message {
  margin: 20px 0px;
}

#message {
  height: 100px;
}

#first-name, #last-name, #phone, #email, #message {
  margin-bottom: 10px;
}

.success-message {
  display: none;
}

/* Search page */ 
#search-page, .search-page {
  margin: 0 auto;
  display: inline-block;
}

/* Footer */

footer {
  display: flex;
  background-color: #0a3641;
  color: #f3f3f3;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo {
  max-height: 3.5em;
  padding-top: 20px;
}

.footer-nav {
  text-align: left;
  padding-top: 0px;
}

.footer-nav a {
  display: inline;
  color: white;
  font-weight: lighter;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #f3f3f3af;
}

.footer-nav ul {
  padding: 0px;
}

.footer-nav li {
  display: block;
}

.copyright {
  padding-left: 20px;
}

.footer-links {
  margin: 0 auto;
}

.footer-copyright {
  display: inline-block;
}

.footer-shopping,
.footer-info,
.footer-social {
  display: inline-block;
  vertical-align: top;
  padding-left: 70px;
  padding-right: 70px;
}


@media (max-width: 1070px) {
  /* Header elements */

  .header-image-first,
  .header-image-jackets,
  .header-image-specific-jacket,
  .header-image-cart,
  .header-image-checkout-success, 
  .header-search, 
  .main-nav, 
  #checkbox {
    display: none;
  }
  .contact-bg {
    background: url(../images/resize-skiier.jpg);
  }

  .about-bg {
    background: url(../Images/resize-mike-kilcoyne-hdzGZRCYMSU-unsplash.jpg);
  }

  .contact-bg, .about-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 20px;
  }

  .header-div {
    position: top;
    order: 2;
  }

  .hamburger-menu {
    order: 1;
    display: flex;
    color: white;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .hamburger-choices ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .jacket-page-cart-img, .color-cards, .hamburger-choices a {
    display: block;
    padding: 10px;
  }

  /* Hamburger menu */ 

  .hamburger-choices {
    display: none;
    position: absolute;
    background-color: #0a3641;
    border-radius: 0px 0px 20px 0px;
    padding: 10px 10px;
    text-align: left;
  }

  #checkbox:checked ~ .hamburger-choices {
    display: block;
    margin: 22px -20px;
  }

  .visually-hidden {
    position: absolute;
    opacity: 0;
  }

  /* Main page */

  .slogan {
    max-width: 300px;
    margin: 5px 20px;
  }

  .popular-jackets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .jacket-card-main-page {
    min-width: 100%;
  }

  /* Jacket page */
  .all-jackets {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  /* Jacket specific page*/
  .jacket-specific {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 300px;
  }

  .jacket-carousel {
    margin-right: 200px;
  }

  .specific-product-info,  .specific-product-info  > h3 {
    padding: 10px;
    text-align: center;
  }

  .specific-product-info > p {
    text-align: left;
  }

  .jacket-specific-layout {
    margin-right: 0px;
  }

  .color-cards {
    padding: 0px;
  }

  .size-and-color-mobile, .product-size-cards {
    display: block;
  }

  .add-to-cart {
    margin-top: 60px;
  }

  /* Checkout page */

  .checkout-layout {
    display: flex;
    flex-direction: column;
  }

  .checkout-layout > div, .checkout-layout > form  {
    margin: 0 auto;
  }

  .cart-jacket-image, .cart-jacket-info {
    padding: 0px 10px;
  }

  .btn-purchase {
    margin-bottom: 50px;
  }

  /* Page padding for About and Contact */

  .page-padding {
    margin-bottom: 250px;
  }

  /* Footer */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
  }

  .footer-shopping,
  .footer-social,
  .footer-info {
    padding: 10px;
    order: 1;
  }

  .copyright {
    order: 2;
    margin-right: 20px;
  }

  .footer-nav {
    text-align: center;
  }
}

@media (max-width: 723px) {
  .footer-shopping,
  .footer-social,
  .footer-info {
    display: block;
  }

  .amount-mobile, #size {
    display: inline-block;
  }

  #cart-headings {
    display: none;
  }

  .cart-layout {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    padding-top: 0px;
    gap: 0px;
    text-align: left;
  }

  .media-background {
    margin: 0 auto;
    max-width: 300px;
  }

  .cart-heading-item {
    order: 1;
    margin: 0px;
  }

  .cart-product-info {
    order: 2;
    justify-content: center;
  }

  .cart-heading-amount {
    order: 3;
    margin: 0px;
  }

  .size-card-cart {
    order: 4;
  }

  .cart-heading-price {
    order: 5;
  }

  .cart-price {
    order: 6;
  }
}
